<style type="text/css">
          body {
              font-family: 'Ubuntu', sans-serif;
            }
            .right-inner-addon i {
                position: absolute;
                right: 5px;
                padding: 10px 12px;
                pointer-events: none;
            }
            .right-inner-addon {
                position: relative;
            }
            .right-inner-addon input {
                padding-right: 40px;
            }
            .transition {
                  width: 100px;
            }
            .transition:focus {
                width: 300px;
                -webkit-transition: width 1s ease-in-out;
                -moz-transition:width 1s ease-in-out;
                -o-transition: width 1s ease-in-out;
                transition: width 1s ease-in-out;
            }
            .template {
                z-index: 10;
                top : 0;
                left: 0;
                margin-bottom: 0px;
            }

            ::-webkit-scrollbar {
                width: 5px;

            }
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px gray;
                border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: gray;
                -webkit-box-shadow: inset 0 0 6px gray;
            }
            ::-webkit-scrollbar-thumb:horizontal {

            }

            ::-webkit-scrollbar-track:horizontal {
            /*    border-width: 2px 0 0*/
            }
            /*
            ::-webkit-scrollbar-button {
                background: black;
                display: block;
                width: 2px;
                height: 2px;
                -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
            }
            */
</style>
    <div>
        <script>$('title').html('Home'); </script>
       <nav class="navbar navbar-default">
           <div class="container-fluid">
               </div>
               <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                       <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span ng-class="statusClass" ng-model= "status">{{user.status}}</span>
                                <i class="icon-bell"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click = "changeStatus ('Disponible', 'text-success', nom)"><span class="text-success">Disponbile</span></a></li>
                                <li><a href="#" ng-click = "changeStatus ('Occupé(e)', 'text-danger', nom)"><span class="text-danger">Occupé(e)</span></a></li>
                                <li><a href="#" ng-click = "changeStatus ('Sorti(e)', 'text-muted', nom)"><span class="text-muted">Sorti(e)</span></a></a></li>
                                <li><a href="#" ng-click = "changeStatus ('En réunion', 'text-warning', nom)"><span class="text-warning">En réunion</span></a></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img class="img-circle"
                                     src="{{avatar}}" height="45px" alt="{{user.prenom[0]}}{{user.nom[0]}}">
                                <span class="text-primary" ng-model ="nom"> {{user.prenom}}&nbsp;{{user.nom}}</span>
                                <span class="caret primary"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="text-primary">
                                    <i class="icon-wrench">&nbsp;&nbsp;</i>Paramètres</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ui-sref="logout"><span class="text-primary">
                                    <i class="icon-power-off">&nbsp;&nbsp;</i>Déconnexion</span></a>
                                </li>
                            </ul>
                        </li>
                      </ul>
               </div>
           </div>
        </nav>
        <div class="row">
        <div class="col-md-6" style=" position : fixed; height : 800px;">
           <legend><i class="icon-user text-primary">&nbsp;</i>Liste des contacts</legend>
             <div style="display :inline-block;";>
                <form class="navbar-form navbar-right right-inner-addon col-xs-2" role="search">
                    <i class="icon-search" style="margin-left : 10px;"></i>
                    <input type="text" class="form-control input-sm" placeholder="Rechercher un contact" ng-model ="searchText" style="">
                </form>
            </div>
            <div class="table-responsive" style="overflow : auto; height : 450px;">
               <table class="table table-striped table-hover">
                 <!--  <caption class=""><h4><i class="icon-group text-primary">&nbsp;</i>Tous les contacts</h4></caption> -->
                  <thead>
                      <tr>
                         <th></th>
                         <th></th>
                          <th></th>
                      </tr>
                   </thead>
                   <tbody>
                         <tr ng-animate="'animate'" ng-repeat="contact in allContacts|filter:searchText  track by $index" ng-if ="contact.id != user.id"
                            >
                          <td class="text-primary" ng-switch="contact.status">
                              <a ui-sref="home" style="text-decoration : none;" title="" over-directive>
                              <i class="icon-ok sign img-circle text-success"  ng-switch-when="Disponible" ></i>
                              <i class="icon-minus-sign  text-danger" ng-switch-when="Occupé(e)"></i>
                              <i class="icon-time  text-muted" ng-switch-when="Sorti(e)"></i>
                              <i class="icon-repeat  text-warning" ng-switch-when="En réunion"></i> &nbsp;
                                <span style="">{{contact.prenom}}</span>&nbsp;
                                <span style="font-weight : bold">{{contact.nom}}</span>&nbsp;
                             </a>
                           <a href="#" title="Ajouter aux favoris" ng-click = "addToFavorites(contact)"><i class="icon-expand-alt"></i></a>
                              <table class="table text-danger" style="display : none;">
                                   <thead>
                                        <th>Prénom</th>
                                       <th>Nom</th>
                                       <th>Adresse électronique</th>
                                       <th>Localisation</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{contact.prenom}}</td>
                                            <td>{{contact.nom}}</td>
                                            <td>{{contact.email}}</td>
                                            <td>{{contact.localisation}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                          </td>
                          <td class="text-primary">Date</td>
                          <td><a ui-sref="home" class="conversation show" ng-click ="loadConversation(contact)" title="Commencer une discussion" conv-directive><i class="icon-comment" id="{{contact.id}}"></i></a>
                          </td>
                       </tr>
                     </tbody>
                </table>
            </div>
            </div>
        <div class="col-md-4 pull-right">
            <div class="table-reponsive" style="overflow : auto; height : 250px;">
                <table class="table table-striped table-hover">
                    <caption ><h4><i class="icon-star text-primary">&nbsp;</i>Favoris&nbsp; ({{favorites.length}})</h4></caption>
                    <thead>
                        <th style="width : 200px;">Nom</th>
                        <th>Historique</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="favory in favorites track by $index">
                            <td ng-switch="favory.status">
                              <i class="icon-ok sign img-circle text-success"  ng-switch-when="Disponible" ></i>
                              <i class="icon-minus-sign  text-danger" ng-switch-when="Occupé(e)"></i>
                              <i class="icon-time  text-muted" ng-switch-when="Sorti(e)"></i>
                              <i class="icon-repeat  text-warning" ng-switch-when="En réunion"></i> &nbsp;
                                <small>
                            {{favory.prenom}}&nbsp;{{favory.nom}}&nbsp;</small>
                            <a href="#" title="Retirer des favoris" ng-click ="deleteToFavorites(favory)">
                                <small><i class="icon-check-minus"></i></small></a></td>
                            <td><small>Notre derniere conversation</small></td>
                          <td><small><a href="#" title="Commencer une discussion"
                                        ng-click ="loadConversation(favory)"><i class="icon-comment"></i></a></small></td>
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat ="t in tabTemplate " class="template" >
            <ng-include src="template" class="col-md-3 pull-right " ng-if = "getAttributeShow (t.contact)"  id="{{t.contact.id}}"></ng-include>
        </div>
    </div>
</div>
<script type="text/javascript">
      //  var console = {}; console.log = function(){}
   $(document).ready( function(){
         $('#login').css({'display' : 'none'});
     });
   </script>
