<table class="table " cellspacing="0" id="tableChat" style="width: 300px">
    <thead id="thead">
        <th>
            <div class="row">
                <a href="#" class="col-md-1" style="text-decoration : none;" 
                        title="Ajouter d'autres participants à la discussion"><i class="icon-group"></i></a>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-4">
                    <img src="img/boss.jpg" class="img-circle" height="35px">&nbsp;
                          <small class="text-default">{{contact.prenom}}&nbsp;{{contact.nom}}</small>
                </div>
            </div>
            <div class="h-divider bg-primary"></div>
                  <div class="row">
                      <a href="#" class="col-md-1 col-md-offset-3" 
                        style="margin-right:10px;" title="Démarrer un appel vidéo">
                          <i class="icon-facetime-video icon-2x text-primary"></i></a>
                      <a href="#" class="col-md-1" title="Démarrer un appel audio">
                          <i class="icon-phone icon-2x text-primary"></i></a>
                      <a href="#" class="col-md-1" title="Démarrer un partage d'écran">
                         <i class="icon-desktop icon-2x"></i>
                      </a>
                      <div class="col-md-3 pull-right">
                          <a href="#" id="chevron-down" 
                           title="Réduire la discussion">
                           <i class="icon-chevron-down text-primary"></i></a>
                          <a href="#" 
                          title="Fermer la discussion"><i class="icon-remove text-primary"></i></a>
                      </div>
                  </div>
               </th>
            </thead>
            <tbody id="msgBox"  style="background-color : #b2dfdb  ;">
                <tr style="border-width: 0;">
                    <td class="text-center col-md-offset-4 col-md-2">Hier</td>
                </tr>
                <tr>
                    <td ng-if="m.user.email != contact.email">
                         <div style="margin-left:0px;">
                           
                         </div>
                    </td>
                    <td>
                       <div style="margin-left : 10px;">
                        
    
                        </div>
    
                    </td>
                </tr>
            </tbody>
            <tfoot id="tfoot" style="background-color : #b2dfdb;">
                <tr>
                    <td>
                        <textarea id="{{contact.id}}"  class="form-control" cols="5" rows="2" 
                                   placeholder="Tapez votre message ici"></textarea></td>
                </tr>
                <tr>
                    <td>
                     <label class="btn btn-file text-primary">
                         <i class="icon-file"></i>
                         <input type="file" style="display: none;" title="Envoyer un fichier"></label>&nbsp;
                        <a href="#" title="Partager votre position"><i class="icon-map-marker text-primary"></i></a>
                    </td>
               </tr>
            </tfoot>
        </table>
        <footer style="display : none;">
           <div class="row" >
            <div style= "bottom : 0; position : fixed;" class="col-md-3">
                 <div>
                     <p>
                     <small class="text-danger">Une discussion en attente.</small>
                     </p>
                         <a href="#" 
                            style="text-decoration : none;">
                        <small class="text-primary">
                            {{contact.prenom}}&nbsp;{{contact.nom}} </small>&nbsp;&nbsp;<i class="icon-chevron-up"></i></a>
    
                 </div>
            </div>
        </div>
        </footer>